.autocomplete-search-field-component .radar-autocomplete-wrapper {
  position: absolute;
  transform: translate(-10px, 20px);
}

.radar-autocomplete-wrapper .radar-powered {
  display: none;
}
#map-container #radar-map-logo{
  display: none;
}
