body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homepage_wrapper {
  width: 100%;
  height: 95vh;
  background: url('https://t3.ftcdn.net/jpg/02/96/74/64/240_F_296746476_F0wDElEXSb0Rd1tyDnsCBLVBHGAsJm3O.jpg') no-repeat;
  background-size: cover;

}